@import 'nib'

.header
    background-color #D2EFF3
    padding-top 20px
    padding-bottom 20px

.big-dash
    font-size 24px

.big-text
    font-weight bold
    color #fff
    font-size 48px
    opacity 0.8

.pt-10
    padding-top 10px

.pt-30
    padding-top 30px

.pt-200
    padding-top 200px

.p-15
    padding 15px

input
    border-radius 10px !important

.search
    padding-top 10px
    padding-bottom 10px
    background-color #49BBD7
    color #fff
    input
        margin 0

.content
    padding-top 20px

.hide
    display none !important

.boxy
    border 1px solid #eee
    border-radius 3px
    margin-bottom 10px
